<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="home-container">
      <h1>Welcome to <span id="c-letter">C</span>lubHouse</h1>
      <% if (currentUser) { %>
      <h3>Welcome back, <%= currentUser.first_name %></h3>
      <% if (currentUser.is_member) { %>
      <h3>
        Your membership has been verified!. You have unrestricted access to the
        message board.
      </h3>
      <% } else { %>
      <h4>Your membership is unverified</h4>
      <a href="/verify">Verify membership</a> <% } %>
      <a href="/messages">Go to message board</a>
      <form action="/logout" method="POST" style="display: inline">
        <button type="submit">Logout</button>
      </form>
      <% } else { %> <a href="/login">Login</a> <a href="/sign-up">Sign up</a>
      <a href="/messages">Message board</a> <% } %>
    </div>
  </body>
</html>
