<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MESSAGES: I LIKE PURPLE</h1>
    <% if (currentUser.is_member) { %>
    <h2>Add a message</h2>
    <form action="/add-message" method="POST">
      <label for="messageTitle">Title</label>
      <input type="text" id="messageTitle" name="messageTitle" />
      <label for="messageBody">Message</label>
      <textarea type="text" id="messageBody" name="messageBody"></textarea>
      <button>Submit</button>
    </form>
    <% } else { %>
    <h2>You can't post any messages until you are verified!</h2>
    <% } %>
  </body>
</html>
