<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/sign-up-form.css" />
  </head>
  <body>
    <%- include('partials/errors') %>
    <form action="/sign-up" method="POST">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" name="firstName" />
      <label for="lastName" id="lastName" name="lastName">Last name</label>
      <input type="text" id="lastName" name="lastName" />
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <label for="repeatPassword">Repeat Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword" />
      <button type="submit">Join Clubhouse</button>
      <a href="/">Take me home</a>
    </form>
  </body>
</html>
