body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff; /* Light text for dark background */
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

form label {
  margin-bottom: 5px;
  color: black;
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
  background-color: #e6b800;
  transform: scale(1.05);
}

form a {
  margin-top: 1rem;
}
